<app-first-navbar></app-first-navbar>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,0,0" />
<div class="container-icons-infor">
  <div class="icons-infor">
    <div class="infor address">
      <div class="bg-icon icon-address">
        <span class="icon material-symbols-outlined">
          location_on
          </span>
      </div>
      <p><span id="thick">Address: </span>123 Cao Thắng Q.10 Tp Hồ Chí Minh</p>
    </div>
    <div class="infor phone">
      <div class="bg-icon icon-phone">
        <span class="icon material-symbols-outlined">
          call
          </span>
      </div>
      <p><span id="thick">Phone: </span>123456789</p>
    </div>
    <div class="infor email">
      <div class="bg-icon icon-email">
        <span class="icon material-symbols-outlined">
          send
        </span>
      </div>
      <p><span id="thick">Email: </span>bridge@gmail.com</p>
    </div>
    <div class="infor website">
      <div class="bg-icon icon-website">
        <span class="icon material-symbols-outlined">
          public
          </span>
      </div>
      <p><span id="thick">Website: </span>http://bridge.com</p>
    </div>
  </div>
</div>
<div class="form-img">
  <app-form-contact></app-form-contact>
  <img id="img-contact" src="https://s3-alpha-sig.figma.com/img/7c15/8464/623f0ae5e5a2456b101a57dbb55eb715?Expires=1693180800&Signature=cKA0qtC7V9hZe4zvhtFjXXajDMsrJvyfETQ1A5C7PA5RdsNYCIkgarMmFLhkv2tHEGpLDwS5lpM4AL6V8EVv3ZXblh-mqBnhwsybPT~3T7PhI3LVJnX1v~qFoNauJiPYg9gFQ~hLDPHdvswPz6XoHuN4CB1zgdY~YHigOlXozONxjmasv8gznVCH2xRwkRbjFv80MoUVQV~tz8I76OqF1svMJ4RP8FF7VF9mSU5SqhrM1sTIc2Ri338PfllXFESkMwGybnlwPEDedI5sDaS1n7lPo9FxzeXM~Ws-rC6YvwN5WwkIn9vsX-2Mc9MAZgkPq6vEww1Ff56GE0mXTvWusw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" alt="">
  
</div>